body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}
/* Reset
**************************************************************************/
* { box-sizing: border-box; margin: 0; padding: 0; }
body { margin: 1rem; }
h1 { margin: 2rem 0 0; }


/* Flexbox Example 
**************************************************************************/
.flexbox { display: flex; }
.flexbox .stretch { flex: 1; }
.flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
.flexbox div input { padding: .5em 1em; width: 100%; }
.flexbox div button { padding: .5em 1em; white-space: nowrap; }
#sidebar {
    float: left;
}
.borderless {
    border: none;
}
.floatRight {
    float: right;
}
