@using EyeCT4EventsMVC.Models.Domain_Classes

@{
    ViewBag.Title = "Reservering";
}
<h2>Reservering</h2>
<form method="get" action="@Url.Action("ReserveringSubmit", new { AantalPersonen = Request.QueryString["AantalPersonen"] })">
    <div class="form-group">
        <label for="AantalPersonen">Aantal Personen</label>
        <input type="number" class="form-control" name="AantalPersonen">
    </div>
    <div class="form-group">
        <label for="inputName">Naam</label>
        <input type="text" class="form-control" name="inputName" placeholder="Naam">
        <label for="InputEmail">Emailadres</label>
        <input type="email" class="form-control" name="InputEmail" placeholder="Emailadres" />
    </div>
    <div class="form-group">
        <label for="DatumVan">Start Datum</label>
        <input type="date" class="form-control" name="DatumVan">
    </div>
    <div class="form-group">
        <label for="DatumTot">Eind Datum</label>
        <input type="date" class="form-control" name="DatumTot">
    </div>

    <div class="floatRight">
        <a target="_blank" href="Camping_ReëenDal.PNG">
            <img src="~/Resources/Camping_ReeënDal.png" alt="CampingPlattegrond" width="500" height="600">
        </a>
    </div>
    <div>
        <select>
            @foreach (Kampeerplaats k in (List<Kampeerplaats>)ViewBag.AlleKampeerplaatsen)
            {
                <option value="Kampeerplaats" name="Kampeerplek">@k.Nummer, @k.Type, @k.MaxPersonen</option>
            }

        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Ga Verder" class="form-control"/>
    </div>

</form>
