
@{
    ViewBag.Title = "Social Media Sharing";
}
<h2>Social Media Sharing</h2>
<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">Panel Content</div>
    </div>
</div>