
@{
    ViewBag.Title = "Social Media Sharing";
}
<h2>Social Media Sharing</h2>

@ViewBag.Error

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
    </div>

    <div class="panel-body">
        This is a Basic panel
    </div>
</div>