
@using EyeCT4EventsMVC.Models.Domain_Classes.Gebruikers
@model EyeCT4EventsMVC.Models.Domain_Classes.Media
@{
    ViewBag.Title = "MediaToevoegen";
    Layout = "~/Views/Shared/_NoHeaderLayout.cshtml";
}

<h2>Media toevoegen</h2>
@if (Url.RequestContext.RouteData.Values["id"] != null)
{
    using (Html.BeginForm("InsertMedia", "SocialMedia", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label class="control-label" for="inputDefault">Beschrijving:</label>
            @Html.TextBoxFor(m => m.Beschrijving, new { @class = "form-control" })<br />
            <label class="control-label" for="inputDefault">Bestand:</label>
            <input type="file" class="form-control" name="file" />
            <input type="hidden" value="@Url.RequestContext.RouteData.Values["id"]" class="form-control" name="Categorie" />
            <input type="submit" value="Toevoegen" class="btn btn-default" />
        </div>
    }
}
else
{
    <script>
        alert("Selecteer eerst een categorie.");
        window.location.href = "http://localhost:37356/SocialMedia/SocialMedia";
    </script>
}