@{
    Layout = "~/Views/Shared/_NoHeaderLayout.cshtml";
    ViewBag.Title = "Gebruiker aanmaken";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Beheerder Aanmaken</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index","Beheer")">Beheersysteem</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/Beheer/GerapporteerdeMedia">Gerapporteerde Media</a></li>
                        <li><a href="Toegangs/Index">Toegangscontrole</a></li>
                        <li><a href="/Beheer/EventAanmaken">Event aanmaken</a></li>
                        <li><a href="/Beheer/AanwezigeBezoekers">Bezoekers</a></li>
                        <li><a href="/Beheer/BeheerderAanmaken">Beheerder aanmaken</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Materiaal <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Beheer/MateriaalToevoegen">Toevoegen</a></li>
                                <li><a href="/Beheer/MateriaalBekijken">Bekijken</a></li>
                            </ul>
                        </li>
                        <li><a href="/Gebruiker/Uitloggen">Uitloggen</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @((string)Session["Message"])
    <div class="container">
        <form class="form-horizontal" role="form" action="/Beheer/MaakBeheerderAan">
            <h2>Registreren</h2>
        <div class="form-group">
            <label for="type" class="col-sm-3 control-label">Gebruikertype</label>
            <div class="col-sm-9">
                <select name="type">
                    <option>
                        Beheerder
                    </option>
                    <option>
                        Medewerker
                    </option>
                </select>
            </div>
        </div>
            <div class="form-group">
                <label for="Voornaam" class="col-sm-3 control-label">Voornaam</label>
                <div class="col-sm-9">
                    <input type="text" id="Voornaam" placeholder="Voornaam" class="form-control" name="Voornaam" autofocus required="" />
                </div>
            </div>
            <div class="form-group">
                <label for="Tussenvoegsel" class="col-sm-3 control-label">Tussenvoegsel</label>
                <div class="col-sm-9">
                    <input type="text" id="Tussenvoegsel" placeholder="Tussenvoegsel" class="form-control" name="Tussenvoegsel" autofocus />
                </div>
            </div>
            <div class="form-group">
                <label for="Achternaam" class="col-sm-3 control-label">Achternaam</label>
                <div class="col-sm-9">
                    <input type="text" id="Achternaam" placeholder="Achternaam" class="form-control" name="Achternaam" autofocus required="" />
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" id="email" placeholder="Email" class="form-control" name="Email" autofocus required="" />
                </div>
            </div>
            <div class="form-group">
                <label for="Gebruikersnaam" class="col-sm-3 control-label">Gebruikersnaam</label>
                <div class="col-sm-9">
                    <input type="text" id="gebruikersnaam" placeholder="Gebruikersnaam" class="form-control" name="Gebruikersnaam" required=""/>
                </div>
            </div>
            <div class="form-group">
                <label for="Wachtwoord" class="col-sm-3 control-label">Wachtwoord</label>
                <div class="col-sm-9">
                    <input type="password" id="Wachtwoord" placeholder="Wachtwoord" class="form-control" name="Wachtwoord" autofocus required=""/>
                </div>
            </div>
            <div class="form-group">
                <label for="WachtwoordBevestigen" class="col-sm-3 control-label">Wachtwoord bevestigen</label>
                <div class="col-sm-9">
                    <input type="password" id="WachtwoordBevestigen" placeholder="Wachtwoord bevestigen" name="WachtwoordBevestigen" class="form-control" autofocus required=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <input type="submit" value="Invoeren" />
                </div>
            </div>
      
            
        </form> <!-- /form -->
    </div> <!-- ./container -->
</body>
</html>
